<header>

    <a routerLink="home">
        <div class="logo"><img src="../../assets/logo.png" class="logo" alt="Transcom"></div>
    </a>

    <ul class="menu">
        <li class="lista">
            <a class="link" routerLink="home">Home</a>
        </li>
        <li class="lista">
            <a class="link" routerLink="servicos">Serviços</a>
        </li>
        <li class="lista">
            <a class="link" routerLink="rastreamento">Rastreamento</a>
        </li>
        <li class="lista">
            <a class="link" routerLink="contato">Contato</a>
        </li>
    </ul>

</header>
