<section>
  <div class="quadro-1">
    <div class="texto-1">
      <h4>
        QUEM SOMOS?
      </h4>
      <br>
      <p>
        A TRANSCOM é uma jovem e dinâmica empresa, nasceu em Janeiro de 2008 na cidade de São Paulo, atuando nas áreas de logística, distribuição e transporte de cargas, realizado com veículos de pequeno, médio e grande portes. Sua atuação é baseada no comprometimento com a qualidade e eficiência dos serviços prestados, tornando-se parceira de seus clientes, oferecendo serviços feitos sob medida para o seu negócio.
      </p>
    </div>
  </div>
  <div class="quadro-2">
    <div class="texto">
      <h4>
        DIFERENCIAL
      </h4>
      <br>
      <p>
        A consciência da operação segura no transporte e nas soluções logísticas, a atenção às necessidades do cliente e o respeito às pessoas, fazem dos nossos parceiros e colaboradores, profissionais plenamente dedicados e envolvidos com os objetivos da empresa. Eles são estimulados a desenvolver suas tarefas como uma missão, superando dificuldade com criatividade, eficiência e competência, diferenciais da TRANSCOM uma empresa preparada para novos desafios.
      </p>
    </div>
  </div>
  <div class="quadro-3">
    <div class="texto">
      <h4>
        MISSÃO
      </h4>
      <br>
      <p>
        Oferecer soluções em transporte e logística para empresas de pequeno, médio e grande porte, com um atendimento que supere as expectativas dos clientes e parceiros.
      </p>
    </div>
  </div>
</section>
